extends ../shared/template
block content
  h2 Welcome to Treasure Map
  .row
    .col-xs-12
      #treasure-map
        img(src='http://www.cartographersguild.com/attachments/finished-maps/30098d1286810894-goonies-inspired-treasure-map-astoria-treasure-map-7.png')

block scripts
  script(src='/js/user/home.js')

